body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    color: gray;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button#addTaskButton {
    width: 120px;
    padding: 10px;
    background-color: #0183f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

button#addTaskButton:hover {
    background-color: #1f35ff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}

li div {
    flex-grow: 1;
}

li div + div {
    flex-grow: 0;
    display: flex;
    gap: 10px;
}

button.complete {
    background-color: #27a700;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.complete:hover {
    background-color: #00b34b;
}

button.delete {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #c82333;
}
